# This file defines code owners for this repository.
# See more in https://docs.github.com/en/enterprise-cloud@latest/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @streamx-com/streamx-admins @streamx-com/streamx-service-mesh-codeowners
